body {
  width: 370px;
}

img {
  margin:5px;
}

form input {
	border: 1px solid #aaa;
	margin-top: -3px; 
}

form input.text {
    font-size: 11px;
    width: 132px;
    padding: 2px;
}


.openid_out img {
	float:left; 
	width:75px;
	margin:4px;
	border:1px dotted gray;
}

.openid_over img {
	float:left; 
	width:75px;
	margin:4px;
	border:1px solid gray;
}

.displayBox{
	width: 210px; 
	height: 115px; 
	display: none; 
	margin-left: 127px; 
	padding-top: 8px; 
	font-size: 13px;
	font-family: 'Times New Roman';"
}

.displayBox .right {
	margin-left: 60px;
	border: 0px solid gray; 
	height: 25px;
}

.displayBox .left {
	float: left;
}

.loginMessage {
	float:left;
	color:red;
	font-family:arial;
	font-size:10px;
	padding-top:2px;
	font-weight:bold;
}

.displayBox .links {
	margin-top: -5px; 
	text-align: right;
}

.currentPageDisplayBox {
	font-size: 11px;
	margin: 0px 10px 0px 10px; 
	border-top: 1px solid gray; 
	padding-top: 10px;
	font-family: 'georgia';
}

.day {
	font-family: georgia;
	font-size: 11px;
	font-weight: bold;
	background-color: #f4f4ff;
	color: #666688;
	border-top: 1px solid #dddddd;
	height: 13px;
	padding: 5px;
}

.entry {
	background-color: #ffffff;
	border-top: 1px dotted #dddddd;
	padding: 5px 5px 5px 20px;
}

.blockNum {
	border: 1px dotted #ccccdd;
	background-color: #eeeeff;
	color: #666688;
	font-weight: bold;
	padding: 0px 3px 0px 3px;
}

.blockTerm {
	color: #666688;
	background-color: #f4f4ff;
	font-size: 11px;
	white-space: nowrap;
}

a:hover { color: blue; } 
