{% extends "./base.html" %}

{% block content %}

<form method="post" action="regist">
<input type="hidden" name="{{ registrant_redirect_token.label }}" value="{{ registrant_redirect_token.value }}" />
<input type="hidden" name="{{ regist_status.label }}" value="{{ regist_status.value }}" />
<input type="hidden" name="{{ regist_redirect_url.label }}" value="{{ regist_redirect_url.value }}" />
{% csrf_token %}
This request has been granted
<table>
  <tr><td>Request Token: {{ registrant_request_token }}</td></tr>
  <tr><td>Request Scope: {{ registrant_request_scope }}</td></tr>
  <tr><td>Request reminder: {{ registrant_request_remidner }}</td></tr>
</table>

<br><br>
Redirect registration request to user: 
<table>
<tr>
  <th>URL</td>
  <th>Action</td>
</tr>
<tr>
  <td><textarea rows="10" cols="50">{{ regist_redirect_url.value }}</textarea></td>
  <td>
    {% if user.is_authenticated %}
    You have login, want to grant:
    <input type="submit" name="{{ registrant_redirect_action.label }}" value="{{ registrant_redirect_action.redirect }}" />
    {% else %}
    Login to identify yourself: <br>
    <input type="submit" name="{{ registrant_redirect_action.label }}" value="{{ registrant_redirect_action.login_redirect }}" />
    {% endif %}
  </td>
</tr>
</table>
</form>

{% endblock %}

